{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="{% static 'build/tailwind.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}АРМ Продавца{% endblock %}</title>
</head>
<body>
  <header style="padding:12px;border-bottom:1px solid #eee;">
    <h2>АРМ Продавца</h2>
  </header>
  <main style="padding:16px;max-width:1200px;margin:0 auto;">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
